---
import Card from './Card/index.astro';
---

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-2" title="Technologies">
  <div class="h-full">
    <div class="flex mt-5 justify-center gap-10 w-full">
      <img src="/JavaScript-logo.png" height="45px" width="45px" alt="" />
      <img src="/React-logo.png" height="45px" width="45px" alt="" />
      <img src="/Typescript-logo.png" height="45px" width="45px" alt="" />
    </div>
  </div>
</Card>
